body {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.menu {
    background-image: url("../images/the-flatiron-building.png");
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

p a {
    font-size: 18px;
}